TWITTER_CONSUMER_KEY=None
TWITTER_CONSUMER_SECRET=None
TWITTER_ACCESS_TOKEN=None
TWITTER_ACCESS_TOKEN_SECRET=None

TWITTER_POST_COUNT=50

SLACK_CLIENT_ID=None
SLACK_CLIENT_TOKEN=None
SLACK_OAUTH_ACCESS_TOKEN=None
SLACK_BOT_TOKEN=None